@font-face {
font-family: 'Sans-GG-Bold';
    src: url('/fonts/gg-sans-2-cufonfonts/gg\ sans\ Bold.ttf') format('woff2');
  }
@font-face {
font-family: 'Sans-GG-Medium';
    src: url('/fonts/gg-sans-2-cufonfonts/gg\ sans\ Medium.ttf') format('woff2');
  }
@font-face {
font-family: 'Sans-GG-Regular';
    src: url('/fonts/gg-sans-2-cufonfonts/gg\ sans\ Regular.ttf') format('woff2');
    }
@font-face {
font-family: 'Sans-GG-Semibold';
        src: url('/fonts/gg-sans-2-cufonfonts/gg\ sans\ Semibold.ttf') format('woff2');
        }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* || BACKGROUND COLORS */
    --BGCOLOR-SCROLLER-GUILDS: rgb(24, 25, 28);
    --BGCOLOR-HEADER-CONTAINER-DARKER: rgb(39, 41, 45);
    --BGCOLOR-HEADER-CONTAINER-LIGHT: rgb(45, 48, 53);
    --BGCOLOR-NOTIFICATION-PILL: rgb(251, 54, 54);
    --BGCOLOR-DISCORD-LOGO: rgb(90, 106, 239);
    --BGCOLOR-SPEECH-BUBBLE: #0e0e0e;
    --BGCOLOR-PILL: white;
    --BGCOLOR-MESSAGE-ELEMENT-ACTIVE: rgb(57, 60, 66);

    /* || ACTIVITY COLORS*/
    --COLOR-ACTIVITY-ONLINE: rgb(44, 164, 93);
    --COLOR-ACTIVITY-AWAY: rgb(236, 175, 64);
    --COLOR-ACTIVITY-NOTDISTURB: rgb(238, 64, 71);

    /* || OTHER COLORS */
    --COLOR-HEADER-BORDER-BOTTOM: hsl(0, 0%, 0%, 0.2);

    /* || FONT COLORS */
    --FONTCOLOR-MENU: #949BA4;
    --FONTCOLOR-MENU-HOVER: rgba(255, 255, 255, 0.85);
    --FONTCOLOR-SEARCHSIDE-BUTTON: hsl(0, 0%, 100%, 0.5);
    --FONTCOLOR-SPEECH-BUBBLE: white;

    /* || FONT SIZES */
    --FONTSIZE-H1: 20px;
    --FONTSIZE-H2: 16px;
    --FONTSIZE-H3: 12px;

    /* || FONT FAMILIES */
    --FONT-BOLD: Sans-GG-Bold, sans-serif, Helvetica, Arial;
    --FONT-MEDIUM: Sans-GG-Medium, sans-serif, Helvetica, Arial;
    --FONT-REGULAR: Sans-GG-Regular, sans-serif, Helvetica, Arial;
    --FONT-SEMIBOLD: Sans-GG-Semibold, sans-serif, Helvetica, Arial;
    
    /* || SIZES */
    --HEADER-CONTAINER-SEARCH-SIDE-WIDTH: 240px;
    --HEADER-HEIGHT: 48px;
}

html, body {
    background-color: var(--BGCOLOR-SCROLLER-GUILDS);
    height: 100%;
    font-family: var(--FONT-SEMIBOLD);
    user-select: none;
    scroll-behavior: smooth;
    color: var(--FONTCOLOR-MENU);
}

h3 {
    font-family: var(--FONT-SEMIBOLD);
    font-size: var(--FONTSIZE-H3);
    color: var(--FONTCOLOR-MENU);
}

h2 {
    font-family: var(--FONT-MEDIUM);
    font-size: var(--FONTSIZE-H2);
}

.main-container {
    display: flex;
    flex-direction: row;
    background-color: gray;
    width: 100vw;
    height: 100vh;
}

/* || Left Scroller */
/*------------------------*/
.left-scroller-guilds {
    min-width: 72px;
    max-width: 72px;
    min-height: 100vh;
    height: 100%;
    background-color: var(--BGCOLOR-SCROLLER-GUILDS);
    overflow-y: auto;
}

/*hides scrollbar that was created*/
div::-webkit-scrollbar {
    display: none;
  }
  

.scroller-server {
    width: 100%;
    height: 48px;
    margin: 0 auto;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.scroller-server:first-child {
    margin-top: 12px;
    border-radius: 30%;
    width: 48;
    position: relative;
}

.server-icon {
    width: 48px;
    height: 48px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    background-size: contain;
    cursor: pointer;
    transition: border-radius 0.3s ease;
}

/* This is selector for the logo on very top of the scroller */
.scroller-server:first-child>.server-icon {
    border-radius: 30%;
    background-color: var(--BGCOLOR-DISCORD-LOGO);
}

.scroller-server:first-child>.pill {
    height: 40px;
}

.server-icon:hover {
    border-radius: 30%;
}

.server-icon:hover + .pill {
    height: 28px;
}

.speech-bubble {
    position: absolute;
    left: 82px;
    z-index: 9999;
    top: 0;
    display: inline-block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .rectangle {
    position: absolute;
    background-color: var(--BGCOLOR-SPEECH-BUBBLE);
    border-radius: 5px;
    top: -3px;
  }
  
  .triangle {
    position: absolute;
    top: 14px;
    left: -7px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 8px solid var(--BGCOLOR-SPEECH-BUBBLE);
  }

  .speech-bubble__text {
        color: var(--FONTCOLOR-SPEECH-BUBBLE);
        opacity: 85%;
        padding: 7px 12px 7px 12px;
        white-space: nowrap;
        font-size: 15px;
  }

 @keyframes increaseSize {
    from {
      transform: scale(0.9);
      opacity: 50%;
    }
    to {
      transform: scale(1);
      opacity: 100%;
    }
  }

.icon-status__active {
    position: absolute;
    width: 20px; /*Pre 3-ciferné číslo bude hodnota 30px*/
    height: 20px;
    background-color: var(--BGCOLOR-NOTIFICATION-PILL);
    border-radius: 10px;
    bottom: -2px;
    right: -2px;
    border: 3px solid var(--BGCOLOR-SCROLLER-GUILDS);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pill {
    position: absolute;
    width: 10px;
    height: 10px; /* Hover value is 28px */
    background-color: var(--BGCOLOR-PILL);
    left: -5px;
    border-radius: 5px;
    opacity: 90%;
    transition: height 0.3s ease;
}

/* Works fine with 0.5s without ease-in-out*/
@keyframes pillAnimation1 {
    0% {
        height: 10px
    }
    100% {
        height: 28px;
    }
}

/* Works fine with 0.3s ease-in-out */
@keyframes pillAnimationAppear {
    0% {
        height: 0px;
        width: 0px;
    }
    100% {
        height: 28px;
        width: 10px;
    }
}

.icon-status__active__number {
    font-size: 11px;
    font-family: var(--FONT-BOLD);
    color: white;
}

.scroller-server__separator {
    width: 32px;
    height: 2px;
    background-color: var(--BGCOLOR-HEADER-CONTAINER-LIGHT);
    margin: 0 auto;
    margin-top: 8px;
}



.right-container {
    width: 100%;
    height: 100%;
    background-color: var(--BGCOLOR-SCROLLER-GUILDS);
    display: flex;
    flex-direction: column;

}

/* || HEADER */
/* ---------------------------------------------------------- */
.header-container {
    width: 100%;
    min-height: var(--HEADER-HEIGHT);
    background-color: var(--BGCOLOR-HEADER-CONTAINER-DARKER);
    border-radius: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--COLOR-HEADER-BORDER-BOTTOM);
}

.search-side {
    background-color: var(--BGCOLOR-HEADER-CONTAINER-DARKER);
    height: 100%;
    min-width: var(--HEADER-CONTAINER-SEARCH-SIDE-WIDTH);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 0;
}

.buttons-side {
    background-color: var(--BGCOLOR-HEADER-CONTAINER-LIGHT);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.search-side__button {
    width: 220px;
    height: 28px;
    text-align: left;
    background-color: var(--BGCOLOR-SCROLLER-GUILDS);
    border: none;
    border-radius: 5px;
    padding-left: 8px;
    color: var(--FONTCOLOR-SEARCHSIDE-BUTTON);
    cursor: pointer;
    font-family: var(--FONT-MEDIUM);
}

.buttons-side__left {
    width: 100%;
    height: 32px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

.leftSideContent {
    width: 60px;
    height: 20px;
    background-color: white;
}

.buttons-side__right {
    min-width: 200px;
    height: 32px;
    background-color: darkgrey;
}

/* 3 MAIN COLUMNS*/
/* ---------------------- */
.main-content {
    width: 100%;
    height: calc(100vh - var(--HEADER-HEIGHT));
    background-color: orange;
    display: flex;
    flex-direction: row;
}

/* First Column */
.message-column {
    min-width: var(--HEADER-CONTAINER-SEARCH-SIDE-WIDTH);
    max-width: var(--HEADER-CONTAINER-SEARCH-SIDE-WIDTH);
    height: 100%;
    background-color: var(--BGCOLOR-HEADER-CONTAINER-DARKER);
    display: flex;
    flex-direction: column;
    
}

.message-column__upperhalf {
    width: 100%;
    height: 100%;
    background-color: var(--BGCOLOR-HEADER-CONTAINER-DARKER);
    overflow-y: auto;
    padding: 8px 8px 0 8px;
}

.message-column__element {
    height: 44px;
    width: 100%;
    /*border: 2px solid rgba(255, 255, 255, 0.5);*/
    margin-bottom: 3px;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 0 8px 0 8px;
}

.message-column__element:hover,
.message-column__element:focus {
    background-color: var(--BGCOLOR-HEADER-CONTAINER-LIGHT);
    color: var(--FONTCOLOR-MENU-HOVER);
}

.message-column__element:active {
    background-color: var(--BGCOLOR-MESSAGE-ELEMENT-ACTIVE);
}

.message-column__friends-icon {
    width: 24px;
    height: 24px;
    background-color: var(--FONTCOLOR-MENU);
}

.message-column__friends-text {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 12px;
}

.close-symbol {
    width: 15px;
    height: 15px;
    right: 0;
    margin-left: auto;
    display: none;
    margin-bottom: 10px;
    color: var(--FONTCOLOR-MENU);
}

.close-symbol:hover,
.close-symbol:focus {
    color: var(--FONTCOLOR-MENU-HOVER);
}

.message-column__element:hover .close-symbol {
    display: block;
}

.direct-messages__container {
    width: 100%;
    height: 38px;
    padding: 18px 8px 4px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.direct-messages__h3 {
    text-transform: uppercase;
    color: var(--FONTCOLOR-MENU);   
}

.direct-messages__h3:hover,
.direct-messages__h3:focus {
    color: var(--FONTCOLOR-MENU-HOVER);
}

.direct-messages__add-symbol {
    height: 15px;
    width: 15px;
    cursor: pointer;
    color: var(--FONTCOLOR-MENU);
    font-family: var(--FONT-REGULAR);
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
}
.direct-messages__add-symbol:hover {
    color: var(--FONTCOLOR-MENU-HOVER);
}

.element-pfp {
    position: relative;
    width: 32px;
    height: 32px;
    background-color: var(--BGCOLOR-DISCORD-LOGO);
    border-radius: 50%;
}

/* || Active States */
/* Online */
.online-circle {
    position: absolute;
    width: 16px; /*Pre 3-ciferné číslo bude hodnota 30px*/
    height: 16px;
    background-color: var(--COLOR-ACTIVITY-ONLINE);
    border-radius: 10px;
    bottom: -2px;
    right: -2px;
    border: 3px solid var(--BGCOLOR-HEADER-CONTAINER-DARKER);
    display: flex;
    justify-content: center;
    align-items: center;
}
.message-column__element:hover .online-circle {
    border: 3px solid var(--BGCOLOR-HEADER-CONTAINER-LIGHT)
}

/* Offline */
.offline-circle {
    position: absolute;
    width: 16px; /*Pre 3-ciferné číslo bude hodnota 30px*/
    height: 16px;
    background-color: var(--FONTCOLOR-MENU);
    border-radius: 10px;
    bottom: -2px;
    right: -2px;
    border: 3px solid var(--BGCOLOR-HEADER-CONTAINER-DARKER);
    display: flex;
    justify-content: center;
    align-items: center;
}
.offline-subcircle {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: var(--BGCOLOR-HEADER-CONTAINER-DARKER);
    border-radius: 50%;
}
.message-column__element:hover .offline-circle {
    border: 3px solid var(--BGCOLOR-HEADER-CONTAINER-LIGHT);
}
.message-column__element:hover .offline-circle .offline-subcircle{
    background-color: var(--BGCOLOR-HEADER-CONTAINER-LIGHT);
}

/* Away */
.away-circle {
    position: absolute;
    width: 16px; /*Pre 3-ciferné číslo bude hodnota 30px*/
    height: 16px;
    background-color: var(--COLOR-ACTIVITY-AWAY);
    border-radius: 10px;
    bottom: -2px;
    right: -2px;
    border: 3px solid var(--BGCOLOR-HEADER-CONTAINER-DARKER);
    display: flex;
    overflow: hidden;
}
.away-subcircle {
    position: absolute;
    left: -2px;
    top: -2px;
    width: 9px;
    height: 9px;
    background-color: var(--BGCOLOR-HEADER-CONTAINER-DARKER);
    border-radius: 50%;
}
.message-column__element:hover .away-circle {
    border: 3px solid var(--BGCOLOR-HEADER-CONTAINER-LIGHT);
}
.message-column__element:hover .away-circle .away-subcircle{
    background-color: var(--BGCOLOR-HEADER-CONTAINER-LIGHT);
}

/* Do not Disturb */
.notdisturb-circle {
    position: absolute;
    width: 16px; /*Pre 3-ciferné číslo bude hodnota 30px*/
    height: 16px;
    background-color: var(--COLOR-ACTIVITY-NOTDISTURB);
    border-radius: 10px;
    bottom: -2px;
    right: -2px;
    border: 3px solid var(--BGCOLOR-HEADER-CONTAINER-DARKER);
    display: flex;
    justify-content: center;
    align-items: center;
}
.notdisturb-subcircle {
    position: absolute;
    width: 7px;
    height: 3px;
    background-color: var(--BGCOLOR-HEADER-CONTAINER-DARKER)
}
.message-column__element:hover .notdisturb-circle {
    border: 3px solid var(--BGCOLOR-HEADER-CONTAINER-LIGHT);
}
.message-column__element:hover .notdisturb .away-subcircle{
    background-color: var(--BGCOLOR-HEADER-CONTAINER-LIGHT);
}


.element-text {
    display: inline-block;
    margin-left: 12px;
    line-height: 0.9;
}

.element-activity {
    font-family: var(--FONT-MEDIUM);
    font-size: var(--FONTSIZE-H3);
    color: var(--FONTCOLOR-MENU);
}

.material-icons {
    transform: rotate(45deg);
  }
















.message-column__footer {
    width: 100%;
    min-height: 52px;
    background-color: var(--BGCOLOR-SCROLLER-GUILDS);
}

/*Second Column*/
.friends-online-column {
    width: 100%;
    height: 100%;
    background-color: var(--BGCOLOR-HEADER-CONTAINER-LIGHT);
    padding: 0 25px 0 25px;
    overflow-y: auto;
}

.inputsearch {
    width: 100%;
    height: 31px;
    background-color: var(--BGCOLOR-SCROLLER-GUILDS);
    margin-top: 20px;
    border-radius: 5px;
}

.online-title__h3 {
    text-transform: uppercase;
    margin: 22px 0 12px 0;
}

/*Third Column*/
.activity-column {
    min-width: 357px;
    height: 100%;
    background-color: var(--BGCOLOR-HEADER-CONTAINER-LIGHT);
    border-left: 1px solid hsl(0,0%,50%,0.2);
    padding: 25px 15px 0 15px;
    overflow-y: auto;
}

#active-now__h1 {
    font-family: var(--FONT-BOLD);
    color: white;
    font-size: var(--FONTSIZE-H1);
    margin-bottom: 20px;
}

.activity-div {
    width: 100%;
    height: 160px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}

@media (max-width: 1200px){
    .activity-column {
        display: none;
    }
}


